# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/*

# Ignores the libraries downloaded
lib/

# Docs
docs/

# Dotenv file
.env
